In [1]:
import pandas as pd
from random import random, seed, shuffle
from IPython.display import display, HTML

In [2]:
seed(0)

In [3]:
dates = pd.date_range(start='01/20/2021', end='02/10/2022', freq='2W-WED')

In [4]:
participants = {
    'postdoc': [],
    'PhD-student': [],
    'Master-student': [],
    'all': []
}

for line in open('PARTICIPANTS.txt'):  # list of participants sorted alphabetically
    name     = line.split('<')[0].strip()
    position = line.split('>')[1].strip()
    participants[position].append(name)
    participants['all'].append(name)

data = {
    'dates'     : dates,
    'Speaker'   : [],
    'Steward 1' : [],
    'Steward 2' : [],
    }


choosable_speaker = participants['all'].copy()
choosable_steward1 = participants['postdoc'].copy()
choosable_steward2 = participants['Master-student'] + participants['PhD-student']

counter = 0
while True:
    try:
        date = dates[counter]
    except IndexError:
        break
    if not choosable_speaker:
        choosable_speaker = participants['all'].copy()
        shuffle(choosable_speaker)
    if not choosable_steward1:
        choosable_steward1 = participants['postdoc'].copy()
        shuffle(choosable_steward1)
    if not choosable_steward2:
        choosable_steward2 = participants['Master-student'] + participants['PhD-student']
        shuffle(choosable_steward2)
    speaker = choosable_speaker[0]
    if speaker in participants['postdoc']:
        n_steward1 = None
        try:
            n_steward3, steward1 = [(n, p) for n, p in enumerate(choosable_steward2) 
                                    if p is not speaker][0]
        except IndexError:
            choosable_steward2 = []
            continue
    else:
        n_steward3 = None
        try:
            n_steward1, steward1 = [(n, p) for n, p in enumerate(choosable_steward1) 
                                    if p is not speaker][0]
        except IndexError:
            choosable_steward1 = []
            continue
    try:
        n_steward2, steward2 = [(n, p) for n, p in enumerate(choosable_steward2) 
                                if p is not speaker and p is not steward1][0]
    except IndexError:
        choosable_steward2 = []
        continue
    counter += 1

    data['Speaker'].append(speaker)
    data['Steward 1'].append(steward1)
    data['Steward 2'].append(steward2)
    choosable_speaker.pop(0)
    if n_steward1 is not None:
        choosable_steward1.pop(n_steward1)
    choosable_steward2.pop(n_steward2)
    if n_steward3 is not None:
        choosable_steward2.pop(n_steward3)

In [5]:
df = pd.DataFrame(data=data)

In [6]:
# print('\n'.join(l[5:] for l in df.to_markdown().replace('00:00:00 ', '').split('\n')))
df

,dates,Speaker,Steward 1,Steward 2
0,2021-01-20,Alba Lepore,Carlos Madariaga,Hira
1,2021-02-03,Beatriz Urda,Alba Lepore,Kathleen Imbach
2,2021-02-17,Carlos García Prieto,Francois Serra,María Morales Martínez
3,2021-03-03,Carlos Madariaga,Jon Sánchez Valle,Paula López
4,2021-03-17,Francois Serra,Beatriz Urda,Carlos García Prieto
5,2021-03-31,Hira,Alba Lepore,Laureano Tomás
6,2021-04-14,Jon Sánchez Valle,Mónica Cabrera,Núria Olvera
7,2021-04-28,Kathleen Imbach,Jon Sánchez Valle,Victoria Isabel Ruiz Serra
8,2021-05-12,Laureano Tomás,Francois Serra,Hira
9,2021-05-26,María Morales Martínez,Francois Serra,Victoria Isabel Ruiz Serra
10,2021-06-09,Mónica Cabrera,Alba Lepore,Núria Olvera
11,2021-06-23,Núria Olvera,Jon Sánchez Valle,Beatriz Urda
12,2021-07-07,Paula López,Jon Sánchez Valle,Carlos García Prieto
13,2021-07-21,Victoria Isabel Ruiz Serra,Alba Lepore,Kathleen Imbach
14,2021-08-04,Carlos Madariaga,Francois Serra,María Morales Martínez
15,2021-08-18,Kathleen Imbach,Alba Lepore,Laureano Tomás
16,2021-09-01,Victoria Isabel Ruiz Serra,Jon Sánchez Valle,Mónica Cabrera
17,2021-09-15,Núria Olvera,Francois Serra,Paula López
18,2021-09-29,Jon Sánchez Valle,María Morales Martínez,Hira
19,2021-10-13,Hira,Jon Sánchez Valle,Kathleen Imbach
20,2021-10-27,Alba Lepore,Beatriz Urda,Carlos García Prieto
21,2021-11-10,Mónica Cabrera,Alba Lepore,Victoria Isabel Ruiz Serra
22,2021-11-24,Carlos García Prieto,Francois Serra,Carlos Madariaga
23,2021-12-08,Laureano Tomás,Francois Serra,Paula López
24,2021-12-22,Francois Serra,Núria Olvera,Laureano Tomás
25,2022-01-05,María Morales Martínez,Alba Lepore,Mónica Cabrera
26,2022-01-19,Beatriz Urda,Jon Sánchez Valle,Victoria Isabel Ruiz Serra
27,2022-02-02,Paula López,Francois Serra,Carlos García Prieto

In [7]:
df[['dates', 'Speaker']].groupby(by='Speaker').count()

                            dates
Speaker
Alba Lepore                     2
Beatriz Urda                    2
Carlos García Prieto            2
Carlos Madariaga                2
Francois Serra                  2
Hira                            2
Jon Sánchez Valle               2
Kathleen Imbach                 2
Laureano Tomás                  2
María Morales Martínez          2
Mónica Cabrera                  2
Núria Olvera                    2
Paula López                     2
Victoria Isabel Ruiz Serra      2

In [8]:
df[['dates', 'Steward 1']].groupby(by='Steward 1').count()

                        dates
Steward 1
Alba Lepore                 7
Beatriz Urda                2
Carlos Madariaga            1
Francois Serra              8
Jon Sánchez Valle           7
María Morales Martínez      1
Mónica Cabrera              1
Núria Olvera                1

In [9]:
df[['dates', 'Steward 2']].groupby(by='Steward 2').count()

                            dates
Steward 2
Beatriz Urda                    1
Carlos García Prieto            4
Carlos Madariaga                1
Hira                            3
Kathleen Imbach                 3
Laureano Tomás                  3
María Morales Martínez          2
Mónica Cabrera                  2
Núria Olvera                    2
Paula López                     3
Victoria Isabel Ruiz Serra      4